* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  color: #AAA;
  font-size: 12pt;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#unsupported { border: 1px solid yellow; color: black; background-color: #FFFFAD; padding: 2em; margin: 1em; display: inline-block; }

#sidebar { display: none; }

#game {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

@media screen and (min-width: 1000px) {
  body {
    padding: 1em;
    justify-content: flex-start;
  }

  #sidebar {
    display: block;
    width: 18em;
    height: calc(100vh - 2em);
    max-height: 40em;
    font-size: 0.825em;
    background-color: #333;
    border: 1px solid white;
    padding: 1em;
    overflow-y: auto;
    flex-shrink: 0;
  }

  #sidebar h2                     { color: white; text-align: center; margin: 0; }
  #sidebar .parts                 { padding-left: 1em; list-style-type: none; margin-bottom: 2em; text-align: right; }
  #sidebar .parts li a            { color: white; text-decoration: none; }
  #sidebar .parts li a:visited    { color: white; }
  #sidebar .parts li a:hover      { color: white; text-decoration: underline; }
  #sidebar .parts li a.selected   { color: #F08010; }
  #sidebar .parts li a i          { color: #AAA;    }
  #sidebar .parts li a.selected i { color: #F08010; }
  #sidebar .settings              { line-height: 1.2em; height: 1.2em; text-align: right; }
  #sidebar .settings label        { vertical-align: middle; }
  #sidebar .settings input        { vertical-align: middle; }
  #sidebar .settings select       { vertical-align: middle; }
  #sidebar .description           { margin-bottom: 2em; }
  #sidebar .description b         { font-weight: normal; color: #FFF; }

  #game {
    flex: 1;
    margin-left: 1em;
    max-height: calc(100vh - 2em);
  }
}
