body {
    padding: 0;
    margin: 0;
	box-sizing: border-box;
}
	*, *:before, *:after {
        box-sizing: inherit;
      }
      body {
        margin: 0;
        background: #444;
      }
#unity-container {
	width: 100vw;
	height: 100vh;
}

#unity-canvas {
	display: block;
	position: absolute;
    height: 100%;
    width: 100%;
}

/// 

canvas + * {
        z-index: 2;
}
#unity-loading-bar {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color:black;
  }
.logo {
	display: block;
	max-width: 100vw;
	max-height: 70vh;
	margin: 0 2em;
  }

  .progress {
	  margin: 1.5em 0;
	  position: relative;
  }

	.flexCenter{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.progress .posfull,.progress .posbox{ 
		position: absolute;
	}
	.progress .posfull{
		z-index: 3;
	}
	.posfull .full{
		transform-origin: top left;
	}
	.progress .posfull1{
		z-index: 2;
	}
	
	.progress .posbox{
		z-index: 1;
	}
	.pos_spinner{
		display: flex;
		justify-content: center;
	}
 


